.content {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    align-items: center;
    height: 100%;
    max-height: 100vh;
    overflow: auto;
  }


.primary-cards{
  display: flex;
  flex-direction: row;
  max-width: 1024px;
  column-gap: 40px;

  .no-border{
    border:none;
  }
.custom-card {
  flex: 1;
  border-radius: 8px;
  position: relative;
  padding:10px;
  min-width: 180px;
  &:nth-child(1) {
    background: linear-gradient(to bottom,$blue,#fff);
    .text{
      color: $primary-color;
    }
  }

  &:nth-child(2) {
    background: linear-gradient(to bottom, $green, #fff);
    .text{
      color: $dark-green;
    }
  }

  &:nth-child(3) {
    background: linear-gradient(to bottom, $red,#fff);
    .text{
      color: $dark-red;
    }
  }

  &:nth-child(4) {
    background: linear-gradient(to bottom, $yellow,#fff);
    .text{
      color: $dark-yellow;
    }
  }

  .icon {
    margin-top:30px;
    text-align: center;
    padding-bottom: 10px;
  }

  .text {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}
}
.card-border{
  border:$border-color 1px solid;
  border-radius: 8px;
}
.card-row{
padding: 12px;
}
.row-internal{
  background-color: $purple-background;
  border-radius: 8px;
  padding:20px;
}
.secondary-cards{
  .card-deck {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-around;
    justify-content: center;
  }
  .card {
    min-height:146px;
    margin: 12px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(4px);
    flex: 1 0 2;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-title {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    word-wrap: break-word;
  }
  .card-text {
    font-size: 32px;
    font-weight: 500;
    color:#fff;
  }
}

.card-padding{
  padding-right:24px;
}
.carousel-slide{
position: relative;
.card-group{
  .carousel-card{padding-right:20px;}
  
}

}
.title{
padding-bottom:12px;
// min-width: 6rem;
}
.bullet-icon {
width: 10px;
height: 10px;
display: inline-block;
border-radius: 3px;
padding-right: 10px;
}
span.card-title{
font-size:12px;
}
.custom-card {
  background-color: #fff;
  border: $border-color 1px solid;
  border-radius: 8px;
}
.card-text {
  font-size: 16px;
  font-weight: bold;
  // text-transform: uppercase;
}

.card-subtext {
  font-size: 10px;
  color:$text;
}
a{
  text-decoration: none;
}
.column{
  border-radius: 10px;
 
  text-align: center;
  .card-subtext{
    color:#676767;
    font-size: 10px;
  }
}
.top-column {
  margin-top: 10px;
  gap:10px;
  width: 100%;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
}

.bottom-columns {
  text-align: center;
  margin-top:10px;

    --bs-gutter-x: 10px;
    .card-body {
      border-radius: 10px;
      padding:10px 0;
      .card-subtext{
        margin-bottom:0;
      }
    }

  }
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img {
    max-height: 100%;
}
@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
}
.card-inside{
align-items:center;
justify-content:center;
.center-card{
  text-align:center;
  padding:1em 0;
  border-radius: 10px;
}
.card-subtext {
  font-size: 10px;
  margin-bottom:10px;
  color:$text;
}
.card-text {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}
.purple{
padding: 10px;
}
}
