.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:30px 40px;
  }

  .primary-cards{
    display: flex;
    flex-direction: row;
    padding:30px 100px;
    .no-border{
      border:none;
    }
  .custom-card {
    flex: 1;
    border-radius: 8px;
    position: relative;
    margin: 0 20px;
    padding:10px;
    &:nth-child(1) {
      background: linear-gradient(to bottom,$blue,#fff);
      .text{
        color: $primary-color;
      }
    }
  
    &:nth-child(2) {
      background: linear-gradient(to bottom, $green, #fff);
      .text{
        color: $dark-green;
      }
    }
  
    &:nth-child(3) {
      background: linear-gradient(to bottom, $red,#fff);
      .text{
        color: $dark-red;
      }
    }
  
    &:nth-child(4) {
      background: linear-gradient(to bottom, $yellow,#fff);
      .text{
        color: $dark-yellow;
      }
    }
  
    .icon {
      margin-top:30px;
      text-align: center;
      padding-bottom: 10px;
    }
  
    .text {
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
}
.card-row{
  column-gap: 20px;
}
.secondary-cards{
  display: flex;
  flex-direction: column;
  padding:0 30px;
  .card-row {
    display: flex;
    justify-content: space-around;
    justify-content: center;

  }
  .custom-card{
    display : flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 8px;
    background-color: #ffffff35;
    backdrop-filter: blur(4px);
    
  }

  .card {
    flex: var(--card-width, 1);
    margin: 10px;
    height:146px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(4px);
  }
  
  .card-body {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-title {
    font-size: 16px;
    font-weight:600;
    color: #fff;
    word-wrap: break-word;
  }
  
  .card-text {
    font-size: 32px;
    font-weight:500;
    color: #fff;
  }
}
.carousel-item{
  a{
    text-decoration: none;
  }
}
.title{
  margin:12px;
}
.bullet-icon {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 3px;
  padding-right: 10px;
}
span.card-title{
  font-size:12px;
  
}
  .carousel-inner {
    gap: 1em;
  }
  .custom-card {
    background-color: #fff;
    border: $border-color 1px solid;
    border-radius: 8px;
    .card-inner{
      margin:10px;
    }
 
    .card-text {
      font-size: 16px;
      font-weight: bold;
      // text-transform: uppercase;
    }

    .card-subtext {
      font-size: 10px;
      color:$text;
    }
  }
  a{
    text-decoration: none;
  }
  .column{
    border-radius: 10px;
    padding: 8px 60px;
    margin:10px 10px 0 10px;
    text-align: center;
    .card-subtext{
      color:#676767;
      font-size: 10px;
    }
  }
  .btn:active,
  .btn.active {
    // Your custom styles for the active state
    background-color: $purple;
  }
.mx-2{
  .nav-link{
    .active{
      background-color: $purple;
    }
  }
  
}
  .top-column {
    margin-top: 10px;
    gap:10px;
    width: 16rem;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
  }

 .bottom-columns {
    text-align: center;
    margin-top:10px;
      .card-body {
        border-radius: 10px;
        padding:10px 0;
        .card-subtext{
          margin-bottom:0;
        }
      }

    }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 20%;
      display: block;
    }
    .carousel-inner {
      display: flex;
    }
  }
  .card .img-wrapper {
      max-width: 100%;
      height: 13em;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .card img {
      max-height: 100%;
  }
  @media (max-width: 767px) {
    .card .img-wrapper {
      height: 17em;
    }
  }
.nav-active{
  background-color: $purple;
  align-items: center;
  color:#fff;
  width:auto  
}
.card-inside{
  margin-left:-2px;
  align-items:center;
  justify-content:center;
  .center-card{
    text-align:center;
    padding-top:1em;
  }
  .card-subtext {
    font-size: 10px;
    margin-bottom:10px;
    color:$text;
  }
  .card-text {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    // text-transform: uppercase;
  }
.purple{
  padding: 10px;
}
}
