
//color
$primary-color :#00546D;
$blue: #25A4C9;
$dark-blue: #4D8CF8;
$dark-green: #1F7100;
$green:#55B92E;
$dark-red: #790005;
$red: #E65C62;
$dark-yellow: #5F3C00;
$yellow:#F8A920;
$purple:#6961CE;
$purple-background:#6961CE10;
$red:#E65C62;
$orange:#F49C79;
$background-color: #F7f7f7;
$border-color: #F1F1F1;


$main-color: #6a1b9a; // Main purple color
$secondary-color: #9c27b0; // Secondary shade
$tertiary-color: #ce93d8; // Tertiary shade

