button {
    cursor: pointer;
    display : flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 8px;
    background-color: #ffffff35;
    backdrop-filter: blur(4px);
    border:none;
  }
  
  [aria-label][tooltip-position] {
    position: relative;
    letter-spacing: 0.1rem;
  }
  
  [aria-label][tooltip-position]::before,
  [aria-label][tooltip-position]::after {
    --scale: 0;
    position: absolute;
    font-size: 1rem;
    transition: transform 100ms;
    transition-timing-function: linear;
  }
  
  [aria-label][tooltip-position]:hover::before,
  [aria-label][tooltip-position]:hover::after {
    --scale: 1;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.45, 1.93);
  }
  
  [aria-label][tooltip-position]::before {
    content: attr(aria-label);
    background-color: var(--tooltip-color);
    padding: 0.5em;
    border-radius: 0.3em;
    width: max-content;
    max-width: 100%;
    text-align: center;
    transform: scale(0);
  }
  
  [aria-label][tooltip-position]::after {
    content: "";
    border: var(--arrow-size) solid transparent;
  }
  
  [aria-label][tooltip-position]::before,
  [aria-label][tooltip-position]::after {
    --tooltip-color: orange;
    --arrow-size: 0.5rem;
    --scale: 0;
  
    z-index: 1;
    font-size: 1rem;
    transform: translate(var(--translate-x), var(--translate-y))
      scale(var(--scale));
  }
  
  
  /** Bottom  */
  
  [aria-label][tooltip-position="bottom"]::before {
    --translate-x: -50%;
    --translate-y: calc(100% + var(--arrow-size));
    bottom: 0px;
    left: 50%;
    transform-origin: top center;
  }
  
  [aria-label][tooltip-position="bottom"]::after {
    --translate-x: -50%;
    --translate-y: calc(var(--arrow-size));
    left: 50%;
    bottom: 0px;
    border-bottom-color: var(--tooltip-color);
    transform-origin: top center;
  }
  
 