@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto&family=Source+Sans+3&display=swap");
.purple {
  color: #6961CE;
  background-color: rgba(105, 97, 206, 0.062745098);
}

.red {
  color: #E65C62;
  background-color: rgba(230, 92, 98, 0.062745098);
}

.blue {
  color: #25A4C9;
  background-color: rgba(37, 164, 201, 0.062745098);
}

.pink {
  color: #E56590;
  background-color: rgba(229, 101, 144, 0.062745098);
}

.orange {
  color: #F49C79;
  background-color: rgba(244, 156, 121, 0.062745098);
}

.dark-blue {
  color: #4D8CF8;
  background-color: rgba(77, 140, 248, 0.062745098);
}

.bullet-icon {
  background-color: #00546D;
}

.purple-icon {
  background-color: #6961CE;
}

.red-icon {
  background-color: #E65C62;
}

.blue-icon {
  background-color: #25A4C9;
}

.orange-icon {
  background-color: #F49C79;
}

.pink-icon {
  background-color: #E56590;
}

.dark-blue-icon {
  background-color: #4D8CF8;
}

.card-border {
  border: #F1F1F1 1px solid;
  border-radius: 8px;
}

.row-internal {
  background-color: rgba(105, 97, 206, 0.062745098);
  border-radius: 8px;
  margin: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 40px;
}

.primary-cards {
  display: flex;
  flex-direction: row;
  padding: 30px 100px;
}
.primary-cards .no-border {
  border: none;
}
.primary-cards .custom-card {
  flex: 1;
  border-radius: 8px;
  position: relative;
  margin: 0 20px;
  padding: 10px;
}
.primary-cards .custom-card:nth-child(1) {
  background: linear-gradient(to bottom, #25A4C9, #fff);
}
.primary-cards .custom-card:nth-child(1) .text {
  color: #00546D;
}
.primary-cards .custom-card:nth-child(2) {
  background: linear-gradient(to bottom, #55B92E, #fff);
}
.primary-cards .custom-card:nth-child(2) .text {
  color: #1F7100;
}
.primary-cards .custom-card:nth-child(3) {
  background: linear-gradient(to bottom, #E65C62, #fff);
}
.primary-cards .custom-card:nth-child(3) .text {
  color: #790005;
}
.primary-cards .custom-card:nth-child(4) {
  background: linear-gradient(to bottom, #F8A920, #fff);
}
.primary-cards .custom-card:nth-child(4) .text {
  color: #5F3C00;
}
.primary-cards .custom-card .icon {
  margin-top: 30px;
  text-align: center;
  padding-bottom: 10px;
}
.primary-cards .custom-card .text {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-row {
  column-gap: 20px;
}

.secondary-cards {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
.secondary-cards .card-row {
  display: flex;
  justify-content: space-around;
  justify-content: center;
}
.secondary-cards .custom-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2078431373);
  backdrop-filter: blur(4px);
}
.secondary-cards .card {
  flex: var(--card-width, 1);
  margin: 10px;
  height: 146px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(4px);
}
.secondary-cards .card-body {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.secondary-cards .card-title {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  word-wrap: break-word;
}
.secondary-cards .card-text {
  font-size: 32px;
  font-weight: 500;
  color: #fff;
}

.carousel-item a {
  text-decoration: none;
}

.carousel-slide {
  position: relative;
}

.title {
  margin: 12px;
}

.bullet-icon {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 3px;
  padding-right: 10px;
}

span.card-title {
  font-size: 12px;
}

.carousel-inner {
  gap: 1em;
}

.custom-card {
  background-color: #fff;
  border: #F1F1F1 1px solid;
  border-radius: 8px;
}
.custom-card .card-inner {
  margin: 10px;
}
.custom-card .card-text {
  font-size: 16px;
  font-weight: bold;
}
.custom-card .card-subtext {
  font-size: 10px;
  color: #676767;
}

a {
  text-decoration: none;
}

.column {
  border-radius: 10px;
  padding: 8px 60px;
  margin: 10px 10px 0 10px;
  text-align: center;
}
.column .card-subtext {
  color: #676767;
  font-size: 10px;
}

.btn:active,
.btn.active {
  background-color: #6961CE;
}

.top-column {
  margin-top: 10px;
  gap: 10px;
  width: 16rem;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
}

.bottom-columns {
  text-align: center;
  margin-top: 10px;
}
.bottom-columns .card-body {
  border-radius: 10px;
  padding: 10px 0;
}
.bottom-columns .card-body .card-subtext {
  margin-bottom: 0;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.card .img-wrapper {
  max-width: 100%;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  max-height: 100%;
}

@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
}
.nav-active {
  background-color: #6961CE;
  align-items: center;
  color: #fff;
  width: auto;
}

.card-inside {
  margin-left: -2px;
  align-items: center;
  justify-content: center;
}
.card-inside .center-card {
  text-align: center;
  padding-top: 1em;
}
.card-inside .card-subtext {
  font-size: 10px;
  margin-bottom: 10px;
  color: #676767;
}
.card-inside .card-text {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}
.card-inside .purple {
  padding: 10px;
}

.rx-table {
  font-size: 14px;
  color: #000;
  line-height: 28px;
}
.rx-table th, .rx-table tr, .rx-table td {
  border: #D0D4E8 1px solid;
  text-align: center;
}
.rx-table tr:nth-child(odd) {
  background: rgba(36, 58, 80, 0.0156862745);
}
.rx-table tr:nth-child(even) {
  background: rgba(36, 58, 80, 0.062745098);
}
.rx-table th, .rx-table td {
  padding: 0 10px;
}
.rx-table th {
  font-weight: normal;
  color: #fff;
  background: #243A50;
  text-align: center;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #6961CE;
  align-self: center;
  align-items: center;
  width: 90%;
}

.main-container {
  position: relative;
  background-size: cover;
  max-width: 100%;
}

.background {
  position: fixed;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the slider behind other elements */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity as needed */
}

.dashboard-container {
  background-color: #F7f7f7;
}
.dashboard-container .page-title {
  padding: 20px;
  font-size: 24px;
  font-weight: 600;
}
.dashboard-container a {
  color: #000;
}
.dashboard-container .dashboard-wrapper {
  margin: 0 30px;
}
.dashboard-container .card-row {
  background-color: #fff;
}

.dashboard-internal-container {
  background-color: #F7f7f7;
}
.dashboard-internal-container .dashboard-wrapper {
  margin: 0 30px;
}
.dashboard-internal-container li {
  padding: 30px 0 0 30px;
  font-size: 24px;
  color: #676767;
  font-weight: 600;
}
.dashboard-internal-container li a {
  text-decoration: none;
  color: #252525;
}
.dashboard-internal-container .sub-header {
  padding-left: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #62666A;
}
.dashboard-internal-container .card-row {
  background-color: #fff;
}

button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2078431373);
  backdrop-filter: blur(4px);
  border: none;
}
